html{
  /* border: 2px solid red; */
  box-sizing: border-box;
  height: 100%;
}

body {
  /* border: 2px solid green; */
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  min-height: 100%;
  font-family: 'Ubuntu', sans-serif;
}

.background {
  width: 600px;
  height: 600px;
  background-color: rgb(161, 184, 155);
  border-radius: 20px;
  display: flex;
  align-items: center;
}

.container {
  min-width: 70%;
  margin: auto;
  /* background-color: rgb(161, 184, 155); */
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 15px solid #70816c;
  flex-wrap: wrap;
}

.rowWrap {
  display: flex;
  width: 100%;
  justify-content: center;
}

.cell {
  border: 0.7px solid black;
  flex: 1 0 auto;
  aspect-ratio: 1 / 1;
  margin-top: -0.7px;
  margin-left: -0.7px;
  /* transition: background-color 0.2s ease-out; */
}



.cell:hover {
  background-color: lightgrey;
  transition: background-color 0.09s linear;
}

button {
  color: white;
  background-color: hsla(0, 100%, 40%, 1);
  border: 1px solid hsla(0, 100%, 55%, 1);
  width: 60px;
  height: 25px;
  margin-left: 28px;
  border-radius: 4px;
  font-size: 15px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
}

button:hover{
  background-color: hsla(0, 100%,55%, 1);
}
button:active {
  background-color: hsla(0, 100%,35%, 1);
}

.black {
  background-color: black;
}

.black:hover {
  background-color: black;
}

.white {
  background-color: white;
  transition: background-color 0.4s ease-out;
}